*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #293447;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.game-details {
    color: #b8c6dc;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    height: 100%;
    width: 100%;
    background-color: #212837;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background-color: #ff003d;
}

.play-board .head {
    background-color: #60cbff;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 90vmin;
        height: 90vmin;
    }

    .game-details {
        font-size: 1rem;
        padding: 15px 25px;
    }
}