* {
  border: none;
  border-radius: 0;
  font-family: "MesloLG Nerd Font";
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces {
  margin-left: 10px;
  opacity: 0.8;
  margin-top: 10px;
  border: 0px;
  border-radius: 10px;
  padding: 5px 0px;
}

button:first-child {
  border-radius: 10px 0px 0px 10px;
}

button:last-child {
  border-radius: 0px 10px 10px 0px;
  padding-right: 2px;
}

#workspaces button {
  padding: 0px 5px;
  color: #313244;
  background: #1e1e2e;
  /* margin-right: 2px; */
}

#workspaces button.persistent {
  color: red;
  border-radius: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 3px black;
}

#workspaces button.active {
  background: #89b4fa;
  /* border-radius: 10px; */
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  /* border-radius: 10px; */
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  /* border-radius: 10px; */
}

#workspaces button:hover {
  background: #11111b;
  color: #313244;
  /* border-radius: 10px; */
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#temperature,
#backlight {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 0px;
}

#tray {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

#custom-lock_screen,
#temperature,
#backlight,
#custom-launch_wofi,
#cpu {
  border-radius: 10px 0px 0px 10px;
}

#custom-light_dark,
#custom-power_btn,
#pulseaudio.microphone,
#disk {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#battery {
  border-radius: 10px;
  margin-right: 10px;
}

#temperature.critical {
  color: #e92d4d;
}

#custom-power_profile {
  color: #a6e3a1;
  border-left: 0px;
  border-right: 0px;
  margin-right: 20px;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#custom-launch_wofi {
  color: #89b4fa;
  margin-left: 10px;
  border-right: 0px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #a6e3a1;
  border-left: 0px;
}
